.App {
  text-align: center;
  width: 100%;
}

form{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.main{
  width: 100% !important;
}

.MuiDataGrid-root{
  width: 80vw!important;
}