@import url('https://fonts.googleapis.com/css2?family=Inter&family=League+Spartan:wght@300&family=Montserrat&family=Roboto:wght@300;400&display=swap');

.form-label{
    display: block;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
}

input{
    padding: 7px;
    width: 100%;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
}
